
@model DATA.Models.DiaChiXuatBan

<div class="modal-body">
    <div class="text-center mt-2 mb-4">
        <h2 id="tieude">
            Edit Genre
        </h2>
    </div>

    <form class="pl-5 pr-5" action="#" id="frmThemOrSua">

        <div class="form-group">
            <label for="publishingaddress">
                @Html.DisplayNameFor(model => model.TenDiaChi)
            </label>
            <input class="form-control" type="text" value="@Model.TenDiaChi" id="name" name="publishingaddress">
        </div>
        <div class="form-group">
            <label for="detailedaddress">
                @Html.DisplayNameFor(model => model.ChiTietDiaChi)
            </label>
            <input class="form-control" type="text" value="@Model.ChiTietDiaChi" id="detailedaddress" name="detailedaddress">
        </div>

        <div class="form-group" id="form-name">
            <label for="SEOContent">
                @Html.DisplayNameFor(model => model.NoiDungSeo)
            </label>
            <textarea class="ckeditor" type="text" name="seocontent"
                      id="seocontent">@Model.NoiDungSeo</textarea>
        </div>
        <div class="form-group">
            <label for="SEOKeyWord">
                @Html.DisplayNameFor(model => model.TuKhoaSeo)
            </label>
            <input class="form-control" value="@Model.TuKhoaSeo" type="text" name="seokeyword"
                   id="seokeyword">
        </div>
        <div class="form-group">
            <label for="SEOTitle">
                @Html.DisplayNameFor(model => model.TieuDeSeo)
            </label>
            <input class="form-control" type="text"
                   id="seotitle" value="@Model.TieuDeSeo" name="seotitle">

        </div>
        <div class="form-group">
            <label for="seolink">
                @Html.DisplayNameFor(model => model.DuongDanSeo)
            </label>
            <input class="form-control" type="text"
                   id="seolink" value="@Model.DuongDanSeo" name="seolink">

        </div>

        <div class="form-group text-center">
            <div class="btn btn-primary" id="btnsumit" onclick="ThemOrSuaDiaChi(@Model.MaDiaChi, '/Admin/DiaChiXuatBan/_DanhSachDiaChiXuatBan')">
                Update
            </div>
        </div>

    </form>

</div>



