
@model IEnumerable<DATA.Models.NhaXuatBan>

<table id="tableLoad" class="table table-striped table-bordered no-wrap" style="width:100%">
    <thead>
        <tr>
            <th>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="checkall" value="false" onclick="SelectAll()"><span class="checkbox-material"><span class="check "></span></span>
                    </label>
                </div>
            </th>
            <th>@Html.DisplayNameFor(model => model.TenNhaXuatBan)</th>
            <th>@Html.DisplayNameFor(model => model.ThongTinNXB)</th>
            <th>@Html.DisplayNameFor(model => model.TrangThai)</th>
            <th>@Html.DisplayNameFor(model => model.DuongDanSeo)</th>
            <th>@Html.DisplayNameFor(model => model.TieuDeSeo)</th>
            <th>Edit</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-id="@item.MaNhaXuatBan" class="check-field" value="false" id="check-@item.MaNhaXuatBan" onclick="Check(@item.MaNhaXuatBan)"><span class="checkbox-material"><span class="check"></span></span>
                    </label>
                </div>

            </td>
            <td>
                @item.TenNhaXuatBan
            </td>
            <td>
                @Html.Raw(item.ThongTinNXB)
            </td>
            <td>
                <input type="checkbox" class="check-toggle" data-style="ios" data-on="Public" @(item.TrangThai == DATA.Constant.Constant.TinhTrang.Activating ? "checked" : "" )
                       onchange="CheckTrangThai(@item.MaNhaXuatBan ,'/Admin/NhaXuatban/CapNhatTinhTrang')"
                       data-off="Block" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-size="sm">

            </td>
            <td>
                @item.DuongDanSeo
            </td>
            <td>
                @item.TieuDeSeo
            </td>
            <td>
                <div class="" id='@item.MaNhaXuatBan' type="submit" data-toggle="modal" onclick="ModalThemSua('/Admin/NhaXuatBan/_ThemOrSuaNhaXuatBan',@item.MaNhaXuatBan)">
                    <i class="fas fa-edit text-center"></i>
                </div>
            </td>

        </tr>
        }
    </tbody>
</table>

