@*@{
    var NhomTuoi = ViewBag.NhomTuoi as List<DATA.Models.NhomTuoi>;
    var LoaiSach = ViewBag.LoaiSach as List<DATA.Models.LoaiSach>;
    var ChuDeSach = ViewBag.ChuDeSach as List<DATA.Models.ChuDeSach>;
    var TheLoai = ViewBag.TheLoai as List<DATA.Models.TheLoai>;
}*@
<div class="header_nav_part">
    <nav class="main-nav-container a-center">
        <div class="mobile_menu_header">
            <i class="mobile_menu_switcher"><span></span><span></span><span></span></i>
        </div>
        <ul id="menu-main-menu" class="main-menu menu-bees">
            <li class="menu-item current-menu-item page_item current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children bees-start">
                <a href="/all-book">
                    <div class="bees bees-start">
                        <span></span>
                        <div class="line-one"></div>
                        <div class="line-two"></div>
                    </div>Books
                    <div class="canvas_wrapper">
                        <canvas class="menu_dashed"></canvas>
                    </div>
                </a>
                <span class='button_open'></span>
                <ul class="sub-menu">
                    <li class="menu-item back">
                        <a href="#"><em>←</em>&nbsp;BACK</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a>AgeGroup</a>
                        <span class='button_open'></span>
                        <ul class="sub-menu">
                            <li class="menu-item back">
                                <a href="#"><em>←</em>&nbsp;BACK</a>
                            </li>
                            Show list độ tuổi 
                            @*@foreach (var item in NhomTuoi)
                            {
                                if (item.Age_Max == null)
                                {
                                    <li class="menu-item"><a href="/all-book?Agegroup=@item.MaNhomTuoi">@item.Age_Min years old +</a></li>
                                }
                                else
                                {
                                    <li class="menu-item"><a href="/all-book?Agegroup=@item.MaNhomTuoi">@item.Age_Min - @item.Age_Max  years old</a></li>
                                }
                            }*@
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="/Books/Show-all-cate">Category</a>
                        <span class='button_open'></span>
                        <ul class="sub-menu">
                            <li class="menu-item back">
                                <a href="#"><em>←</em>&nbsp;BACK</a>
                            </li>
                            Show list thể loại 
                            @*@foreach (var item in ChuDeSach)
                            {
                                <li class="menu-item"><a href="/all-book?ClassName=@item.MaChuDeSach">@item.TenChuDe</a></li>
                            }*@
                        </ul>
                    </li>

                    <li class="menu-item menu-item-has-children">
                        <a>Book Type</a>
                        <span class='button_open'></span>
                        <ul class="sub-menu">
                            <li class="menu-item back">
                                <a href="#"><em>←</em>&nbsp;BACK</a>
                            </li>
                            @*@foreach (var item in LoaiSach)
                            {
                                <li class="menu-item"><a href="/all-book?Type=@item.MaLoaiSach">@item.TenLoaiSach</a></li>
                            }*@
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-has-children">
                <a href="/Book/BookPreview">Preview<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
                <span class='button_open'></span>
                <ul class="sub-menu">
                    <li class="menu-item back">
                        <a href="#"><em>←</em>&nbsp;BACK</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-has-children right">
                <a href="/FeedbackUser/FeedbackUser">FeedBack<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
                <span class='button_open'></span>
                <ul class="sub-menu">
                    <li class="menu-item back">
                        <a href="#"><em>←</em>&nbsp;BACK</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item right bees-end">
                <a href="/Home/About">
                    <div class="bees bees-end">
                        <span></span>
                        <div class="line-one"></div>
                        <div class="line-two"></div>
                    </div>About US
                    <div class="canvas_wrapper">
                        <canvas class="menu_dashed"></canvas>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>
