
@model IEnumerable<DATA.Models.DacQuyen>

<table id="tableLoad" class="table table-striped table-bordered no-wrap" style="width:100%">
    <thead>
        <tr>
            <th>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="checkall" value="false" onclick="SelectAll()"><span class="checkbox-material"><span class="check "></span></span>
                    </label>
                </div>
            </th>
            <th>@Html.DisplayNameFor(model => model.TenDacQuyen)</th>
            <th>@Html.DisplayNameFor(model => model.NoiDung)</th>
            <th>@Html.DisplayNameFor(model => model.Icon)</th>
            <th>@Html.DisplayNameFor(model => model.TrangThai)</th>
            <th>@Html.DisplayNameFor(model => model.DuongDanSeo)</th>
            <th>@Html.DisplayNameFor(model => model.TieuDeSeo)</th>
            <th>Edit</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-id="@item.MaDacQuyen" class="check-field" value="false" id="check-@item.MaDacQuyen" onclick="Check(@item.MaDacQuyen)"><span class="checkbox-material"><span class="check"></span></span>
                        </label>
                    </div>

                </td>
                <td>
                    @item.TenDacQuyen
                </td>
                <td>
                    @Html.Raw(item.NoiDung)
                </td>
                <td>
                    <div class="text-center">
                        <img class="img-icon-ul " src="@item.Icon" />
                    </div>


                </td>

                <td>
                    <input type="checkbox" class="check-toggle" data-style="ios" data-on="Public" @(item.TrangThai == DATA.Constant.Constant.TinhTrang.Activating ? "checked" : "" )
                           onchange="CheckTrangThai(@item.MaDacQuyen ,'/Admin/DacQuyen/CapNhatTinhTrang')"
                           data-off="Block" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-size="sm">

                </td>
                <td>
                    @item.DuongDanSeo
                </td>
                <td>
                    @item.TieuDeSeo
                </td>
                <td>
                    <div class="" id='@item.MaDacQuyen' type="submit" data-toggle="modal" onclick="ModalThemSua('/Admin/DacQuyen/_ThemOrSuaDacQuyen',@item.MaDacQuyen)">
                        <i class="fas fa-edit text-center"></i>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
