

@model DATA.Models.DacQuyen

<div class="modal-body">
    <div class="text-center mt-2 mb-4">
        <h2 id="tieude">
            Edit Genre
        </h2>
    </div>

    <form class="pl-5 pr-5" action="#" id="frmThemOrSua">

        <div class="form-group">
            <label for="Benifitname">
                @Html.DisplayNameFor(model => model.TenDacQuyen)
            </label>
            <input class="form-control" type="text" value="@Model.TenDacQuyen" id="name" name="benifitname">
        </div>
        <div class="form-group" id="form-name">
            <label for="content">@Html.DisplayNameFor(model => model.NoiDung)</label>
            <textarea class="ckeditor" name="content"
                      id="content" >@Model.NoiDung</textarea>
        </div>

        <div class="form-group">
            <label for="image">@Html.DisplayNameFor(model => model.Icon)</label>
            <div class="container">
                <div class="preview">
                    <img class="img-icon" id="img-preview" src="@Model.Icon" />
                    <input id="save-img" hidden value="@Model.Icon" />
                    <div class="label-icon" onclick="onCkfider()" for="file-input">Upload Image</div>
                    <input accept="image/*" type="file" id="file-input" />
                </div>
            </div>

        </div>

        <div hidden id="trangthai">
            @Model.TrangThai
        </div>
        <div class="form-group" id="form-name">
            <label for="SEOContent">
                @Html.DisplayNameFor(model => model.NoiDungSeo)
            </label>
            <textarea class="ckeditor" type="text" name="seocontent"
                      id="seocontent" >@Model.NoiDungSeo</textarea>
        </div>
        <div class="form-group">
            <label for="SEOKeyWord">
                @Html.DisplayNameFor(model => model.TuKhoaSeo)
            </label>
            <input class="form-control" value="@Model.TuKhoaSeo" type="text" name="seokeyword"
                   id="seokeyword" >
        </div>
        <div class="form-group">
            <label for="SEOTitle">
                @Html.DisplayNameFor(model => model.TieuDeSeo)
            </label>
            <input class="form-control" type="text"
                   id="seotitle" value="@Model.TieuDeSeo" name="seotitle" >

        </div>
        <div class="form-group">
            <label for="seolink">
                @Html.DisplayNameFor(model => model.DuongDanSeo)
            </label>
            <input class="form-control" type="text"
                   id="seolink" value="@Model.DuongDanSeo" name="seolink">

        </div>

        <div class="form-group text-center">
            <div class="btn btn-primary" id="btnsumit" onclick="ThemOrSuaDacQuyen(@Model.MaDacQuyen, '/Admin/DacQuyen/_DanhSachDacQuyen')">
                Update
            </div>
        </div>

    </form>

</div>
